<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
        </array>
        <key>bodies</key>
        <dict>

            <key>circle</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50100,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>2</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -259.50000,48.00000 }</string>
                                <string>{ -230.50000,79.00000 }</string>
                                <string>{ -172.50000,112.00000 }</string>
                                <string>{ -105.50000,133.00000 }</string>
                                <string>{ -165.50000,-116.00000 }</string>
                                <string>{ -221.50000,-86.00000 }</string>
                                <string>{ -270.50000,-22.00000 }</string>
                                <string>{ -273.50000,13.00000 }</string>
                            </array>
                            <array>
                                <string>{ 254.50000,-55.00000 }</string>
                                <string>{ 209.50000,-94.00000 }</string>
                                <string>{ 172.50000,-112.00000 }</string>
                                <string>{ 179.50000,110.00000 }</string>
                                <string>{ 229.50000,80.00000 }</string>
                                <string>{ 258.50000,49.00000 }</string>
                                <string>{ 272.50000,13.00000 }</string>
                                <string>{ 271.50000,-22.00000 }</string>
                            </array>
                            <array>
                                <string>{ 114.50000,-131.00000 }</string>
                                <string>{ 32.50000,-144.00000 }</string>
                                <string>{ -32.50000,-144.00000 }</string>
                                <string>{ -105.50000,-134.00000 }</string>
                                <string>{ -105.50000,133.00000 }</string>
                                <string>{ -45.50000,142.00000 }</string>
                                <string>{ 179.50000,110.00000 }</string>
                                <string>{ 172.50000,-112.00000 }</string>
                            </array>
                            <array>
                                <string>{ -270.50000,-22.00000 }</string>
                                <string>{ -221.50000,-86.00000 }</string>
                                <string>{ -253.50000,-56.00000 }</string>
                            </array>
                            <array>
                                <string>{ -105.50000,133.00000 }</string>
                                <string>{ -105.50000,-134.00000 }</string>
                                <string>{ -165.50000,-116.00000 }</string>
                            </array>
                            <array>
                                <string>{ 136.50000,126.00000 }</string>
                                <string>{ 179.50000,110.00000 }</string>
                                <string>{ -45.50000,142.00000 }</string>
                                <string>{ 32.50000,144.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>




